/*================================================
Default CSS
=================================================*/
$main-color: #0000ff;
$black-color: #000000;
$body-color:#ffffff;
// Switch css
.switch-box {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 200px;
    transform: translateY(-50%);
    background-color: $body-color;
    height: 45px;
    width: 50px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 30px 0 0 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;

        &:before {
            position: absolute;
            content: "\eebe";
            font-family: boxicons!important;
            color: $black-color;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            top: 0;
            left: 6px;
            transition: 0.4s;
        }
    }
    input:checked + .slider:before {
        content: '\ee4e';
    }
    .slider {
        &.round {
            border-radius: 50px;

            &:before {
                border-radius: 50%;
            } 
        }
    }
}

// Dark Style CSS
.theme-dark {
    body {
        background-color: #000000;
        color: #f1f1f1;
    }
    p {
        color: #f1f1f1;
        
        a {
            color: #f1f1f1 !important;
        }
    }
    a {
        color: $body-color;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: $body-color !important;

        a {
            color: $body-color !important;
        }
    }
    .bg-F4F7FC  {
        background-color: #0e0e0e;
    }
    .gray-bg {
        background-color: #0e0e0e;
    }
    .bg-f4f7fe {
        background-color: #0e0e0e;
    }

    .bg-f2f2f7 {
        background-color: #0e0e0e;
    }

    //Navbar
    .navbar-light {
        .navbar-brand {
            .main-logo {
                display: none;
            }
            .white-logo {
                display: block;
            }
        }
    }
    .aronix-responsive-nav {
        .logo {
            .white-logo {
                display: block;
            }
            .main-logo {
                display: none;
            }
        }
    }
    .aronix-nav {
        .navbar-brand {
            .white-logo {
                display: block;
            }
            .main-logo {
                display: none;
            }
        }
        .navbar {
            .navbar-nav {
                .nav-item {
                    a {
                        color: $body-color;
                        &.active {
                            color: $main-color;
                        }
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
            .others-options {
                .option-item {
                    .search-btn {
                        color: $body-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
                .burger-menu {
                    span {
                        background: $body-color;
                    }
                }
            }
        }
    }
    .navbar-area {
        &.is-sticky {
            background: #1e1d1d !important;
        }
    }
    .navbar-area-with-position-relative {
        background-color: #0e0e0e;
    }
    .value-trade-area {
        background-color: $black-color;
    }
    .value-trade-card {
        background-color: #0e0e0e;
        p {
            b {
                color: $body-color;
            }
        }
    }
    .navbar-area-two {
        &.is-sticky {
            .aronix-nav {
                .navbar {
                    .navbar-nav {
                        .nav-item {
                            a {
                                color: $body-color;
                                &:hover {
                                    color: $main-color;
                                }
                                &:active {
                                    color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .black-logo {
            display: none;
        }
    }

    //Modal
    .sidebar-modal {
        .sidebar-modal-inner {
            background-color: #0e0e0e;
            .close-btn {
                color: $body-color;
            }
        }
    }

    //Banner
    .banner-section {
        background-color: #0e0e0e;
    }
    .main-banner {
        background-color: #0e0e0e;
    }
    .hero-banner {
        &.banner-bg1 {
            background:unset; 
            background-color: #0e0e0e;
        }
    }
    .hero-banner {
        &.banner-bg2 {
            background: unset;
            background-color: #0e0e0e;
        }
    }
    .shape-img11 {
       filter: invert(1);
    }
    .shape-img12 {
        filter: invert(1);
    }
    .shape-img13 {
        filter: invert(1);
    }
    .shape-img14 {
        filter: invert(1);
    }
    .saas-banner-two {
        background-color: #0e0e0e;
    }
    .cryptocurrency-banner-section {
        background: #0e0e0e;
        &::before {
            background: #0e0e0e;
        }
    }
    .cryptocurrency-banner-content {
        .banner-btn {
            li {
                .video-btn {
                    color: $body-color;
                }
            }
        }
    }
    .bd-banner-section {
        background-color: #0e0e0e;
    }
    .bd-banner-content {
        .banner-btn {
            li {
                .video-btn {
                    color: $body-color;
                }
            }
        }
        .sub-title {
            background-color: $black-color;
            color: $body-color;
        }
    }
    .bd-banner-image {
        .circle-shape {
            background-color: $black-color;
        }
    }

    //Features
    .single-featured-box {
        background-color: #0e0e0e;
    }

    //Design
    .overview-box {
        .overview-content {
            .content {
                .features-list {
                    li {
                        span {
                            background-color: #0e0e0e;
                        }
                    }
                }
            }
        }
    }

    //Featurs
    .features-list-tab {
        .features-overview {
            .overview-content {
                .content {
                    .features-list {
                        li {
                            span {
                                background-color: #0e0e0e;
                            }
                        }
                    }
                }
            }
        }
    }
    .bd-featured-card {
        background-color: #0e0e0e;
        .featured-image {
            background-color: #000000;
        }
    }

    //Choise
    .features-area {
        .tabs_item {
            &.bg-white {
                background-color: #262626 !important;
                border-color: #575656;
            }
        }
    }

    //Feedback
    .feedback-area-two {
        .feedback-slides {
            .single-feedback-item {
                &.border {
                    border-color: #333333 !important;
                }
            }
        }
    }

    //Funfacts
    .fun-facts-area {
        background: #0e0e0e;
    }

    //Projects
    .single-projects-box {
        .projects-content {
            background-color: #0e0e0e;
        }
    }

    //Team
    .single-team-box {
        background-color: #0e0e0e;
    }

    //Fedback
    .feedback-slides {
        .single-feedback-item {
            box-shadow: unset;
            background-color: #0e0e0e;
        }
    }
    .feedback-area {
        &::before {
           background-color: #232222;
        }
    }

    //Pricing
    .single-pricing-box {
        background-color: #0e0e0e;
        .price-features-list {
            li {
                color: $body-color;
            }
        }
        .price {
            color: $body-color;
        }
    }

    //Subscribe
    .subscribe-inner-area {
        &::after {
            background-color: #0e0e0e;
        }
    }
    .single-pricing-table {
        background-color: $black-color;
        .price {
            color: $body-color;
            border-color: #787777;
        }
        .pricing-features {
            li {
                color: $body-color;
            }
        }
    }

    //Blog
    .single-blog-post {
        background-color: $black-color;
    }

    //About
    .about-content {
        .features-list {
            li {
                span {
                    background-color: #0e0e0e;
                }
            }
        }
    }
    .bd-about-content {
        .inner-content-card {
            background-color: #0e0e0e;
        }
    }

    //Services
    .single-services-box {
        background-color: $black-color;
    }
    .service-card-one {
        &.bg-white {
            background-color: $black-color !important;
        }
    }
    .ml-service {
        background: $black-color;
    }
    .bd-services-area {
        background-color: #0e0e0e;
    }
    .bd-services-card {
        background-color: $black-color;
        .services-image {
            background-color: #0e0e0e;
        }
    }

    //Analysis
    .analysis-form {
        .form-control {
            background-color: #0e0e0e;
            color: $body-color;
        }
    }

    //Overview
    .overview-box {
        .overview-content {
            .content {
                .features-list {
                    li {
                        span {
                            background-color: #000000 !important;
                        }
                    }
                }
            }
        }
    }

    //Funfacts
    .fun-fact-card {
        background: $black-color;
    }
    .bd-fun-facts-inner-box {
        background: linear-gradient(80.77deg, #171717 0%, #29292a 100%);
    }


    //FAQ
    .faq-accordion {
        .accordion {
            .accordion-item {
                background: $black-color;
            }
            .accordion-title {
                color: $body-color;
            }
        }
    }

    //earning
    .earning-platform-area {
        background: #0e0e0e;
    }
    .earning-platform-card {
        background-color: $black-color;
    }

    //Crypto
    .crypto-get-strated-area {
        background: linear-gradient(to right, #161617, #232324, #070707, #313131, #242425);
    }
    .key-features-area {
        background: #0e0e0e;
    }
    .key-features-card {
        .key-content {
            background-color: $black-color;
        }
    }

    .mining-content {
        .mining-btn {
            li {
                .video-btn {
                    color: $body-color;
                }
            }
        }
    }

    //trade
    .trade-over-inner-box {
        background-color: #0e0e0e;
    }
    .trade-over-card {
        p {
            b {
                color: $body-color;
            }
        }
    }

    //Choose
    .why-choose-us-area {
        background-color: #0e0e0e;
    }
    .why-choose-us-content {
        .choose-list {
            li {
                background-color: $black-color;
                color: $body-color;
            }
        }
    }
    .why-choose-us-card {
        background-color: $black-color;
        border: 1px solid #5d5c5c;
    }
    .bd-choose-content {
        .list {
            li {
                color: $body-color;
            }
        }
    }

    //Overview
    .bd-overview-card {
        background-color: #0e0e0e;
    }

    //Mobile App
    .mobile-app-area {
        background-color: #0e0e0e;
    }
    .unique-feedback-area {
        &::before {
            background-color: #0e0e0e;
        }
    }
    .unique-single-feedback {
        background-color: $black-color;
        border: 1px solid #2e2d2d;
    }
    .unique-feedback-area {
        &.with-linear-gradient-color {
            &::before {
                background-color: #151515;
            }
        }
    }

    //Blog
    .single-blog-card {
        background: #0e0e0e;
        border: 1px solid #4c4c4c;
        .post-meta {
            li {
                color: $body-color;
            }
        }
    }
    .blog-wrap-area {
        background-color: #151515;
    }
    .subscribe-wrap-area {
        background-color: #151515;
    }

    //Subscribe
    .subscribe-wrap-inner-box {
        background: linear-gradient(86.42deg, #343435 0%, #1b1b1c 101.05%);
    }

    //Feedback
    .unique-feedback-area {
        &.with-linear-gradient-color {
            background: linear-gradient(86.42deg, #131313 0%, #302f30 101.05%);
        }
    }
    .unique-feedback-area {
        background-image: unset; 
    }

    //Page Title
    .page-title-area {
        background-color: #0b0b0b;
        border-color: #343434;
        &.page-title-bg1 {
            background:unset;
        }
        &.page-title-bg2 {
            background:unset;
        }
    }

    //Login
    .form-content {
        background-color: #0e0e0e;
        .form-control {
            background-color: $black-color;
            color: $body-color;
            &::placeholder {
                color: $body-color;
            }
        }
    }

    //Faq
    .faq-contact-form {
        form {
            .form-control {
                background-color: #0e0e0e;
                color: $body-color;
                box-shadow: unset;
                border: 1px solid #3c3c3c;
            }
        }
    }
    .services-details-overview {
        .services-details-desc {
            .services-details-accordion {
                .accordion {
                    .accordion-item {
                        background: #0e0e0e;
                    }
                    .accordion-title {
                        color: $body-color;
                    }
                }
            }
        }
    }

    //Product
    .single-product-box {
        background-color: #0e0e0e;
        .product-content {
           .price {
               color: $body-color;
           }
        }
    }
    .woocommerce-topbar {
        .woocommerce-topbar-ordering {
            .nice-select {
                background-color: #0e0e0e;
                color: $body-color;
                .list {
                    background-color: #0e0e0e;
                }
            }
        }
    }
    .products-details-tab {
        .tabs {
            li {
                a {
                    color: $body-color;
                    border: 1px dashed #c8c6c6;
                }
            }
        }
        .tab_content {
            .tabs_item {
                .products-details-tab-content {
                    .additional-information {
                        li {
                            color: $body-color;
                            span {
                                color: $body-color;
                            }
                        }
                    }
                    .product-review-form {
                        .review-comments {
                            .review-item {
                                .review-report-link {
                                    color: $body-color;
                                    &:hover {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    .product-details-desc {
        .buy-checkbox-btn {
            .btn-light {
                background-color: #0e0e0e;
                &:hover {
                    background-color: $main-color;
                    color: $body-color;
                }
            }
        }
        .price {
            color: $body-color;
        }
        .product-review {
            .rating-count {
                color: $body-color;
                border-bottom: 1px solid #666868;
            }
        }
    }

    //Cart
    .cart-table {
        table {
            thead {
                tr {
                    border-color: #616060;
                    th {
                       color: $body-color;
                    }
                }
            }
            tbody {
                tr {
                    border-color: #616060;
                    td {
                        color: $body-color;
                        &.product-name {
                            a {
                                color: $body-color;
                                &:hover {
                                    color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .form-control {
        border: 1px solid #6a6969;
    }
    .cart-buttons {
        .shopping-coupon-code {
            .form-control {
                background-color: #0e0e0e;
                color: $body-color;
                &::placeholder {
                    color: $body-color;
                }
            }
        }
    }
    .cart-totals {
        background: #0e0e0e;
        ul {
            li {
                color: $body-color;
                border-color: #6a6868;
                span {
                    color: $body-color;
                }
            }
        }
    }

    //Checkout
    .billing-details {
        .form-group {
            .form-control {
                background-color: #0e0e0e;
                color: $body-color;
                &::placeholder {
                    color: $body-color;
                }
            }
        }
        .form-check {
            .form-check-label {
                color: $body-color;
            }
        }
    }
    .order-details {
        .order-table {
            table {
                thead {
                    tr {
                        border-color: #4f4f50;
                        th {
                            border-color: #4f4f50;
                            color: $body-color;
                        }
                    }
                }
                tbody {
                    tr {
                        border-color: #4f4f50;
                        td {
                            border-color: #4f4f50;
                            color: $body-color;
                            &.product-name {
                                a {
                                    color: $body-color;
                                }
                            }
                            &.order-subtotal {
                                span {
                                    color: $body-color;
                                }
                            }
                            &.order-shipping {
                                span {
                                    color: $body-color;
                                }
                            }
                            &.total-price {
                                span {
                                    color: $body-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .order-details {
        .payment-box {
            background-color: #0e0e0e;
        }
    }
    .order-details .payment-box .payment-method p [type="radio"]:checked + label, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label {
       color: $body-color !important;
    }

    //Blog Details
    .widget-area {
        .widget_categories {
            ul {
                li {
                    a {
                        color: $body-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .widget_recent_comments {
            ul {
                li {
                    a {
                        color: $body-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .widget_recent_entries {
            ul {
                li {
                    a {
                        color: $body-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .widget_archive  {
            ul {
                li {
                    a {
                        color: $body-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .widget_meta {
            ul {
                li {
                    a {
                        color: $body-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .tagcloud {
            a {
                color: $body-color;
            }
        }
        .widget_search {
            background-color: #0e0e0e;
            form {
                .search-field {
                    border: 1px solid #686767;
                    color: $body-color;
                    &::placeholder {
                        color: $body-color;
                    }
                }
            }
        }
    }
    blockquote, .blockquote {
        background-color: #0e0e0e;
        &::before {
            color: #222121;
        }
    }
    .blog-details-desc {
        .article-footer {
            .article-tags {
                a {
                    color: $body-color;
                    &:hover {
                        color:  $main-color;
                    }
                }
            }
        }
    }
    .comments-area {
        background-color: #0e0e0e;
        .comment-author {
            .fn {
                color: $body-color;
            }
        }
        .comment-body {
            border-color: #5c5b5b;
            .reply {
                a {
                    border: 1px solid #5c5b5b;
                    color: $body-color;
                }
            }
        }
        .comment-respond {
            label {
                color: $body-color;
            }
            input {
                background-color: $black-color;
                color: $body-color;
                border-color: #5c5b5b;
            }
            textarea {
                background-color: $black-color;
                color: $body-color;
                border-color: #5c5b5b;
            }
        }
    }

    //Contact
    .contact-info-box {
        background: #0e0e0e;
    }
    .contact-form {
        form {
            .form-control {
                background-color: #0e0e0e;
                color: $body-color;
                box-shadow: unset;
                &::placeholder {
                    color: $body-color;
                }
            }
        }
    }

    @media only screen and (max-width: 991px) {
        .aronix-responsive-nav {
            .mean-container {
                a {
                    &.meanmenu-reveal {
                        color: $body-color;
                        span {
                            background-color: $body-color;
                        }
                    }
                }
            }
        }
        .navbar-area-two {
            background-color: #0e0e0e;
        }
    }

   




}